services:
  frontend:
    image: node:22
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - mysql

  backend:
    env_file:
      - ./backend/.env 
    image: node:22
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: smartgrocery-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smartgrocery
    volumes:
      - mysql-data:/var/lib/mysql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql:ro

volumes:
  mysql-data:
